body{
    background-color: #373B41;
}
#example{
    font-size: 17px;
    color: #c2c2c2;
    position: relative;
    top: 5px;
    right: 10px;
    left: 20px;
}
#choose-color{
    width: 50px;
    height: 30px;
    line-height: 30px;
    padding: 0px;
    position: relative;
    float: right;
    margin-right: 120px;
    margin-top: 3px;
}
#comment{
position: absolute;
  right: 0;
  width: 300px;
  height: 100px;
  color: #ffffff;
}
select{
    position: sticky;
    float: right;
    margin-right: 150px;
    margin-top: 5px;
    background-color: rgb(75, 64, 64);
}
option[value="yellow"]{
    color: yellow;
}
option[value="blue"]{
    color: blue;
}
option[value="green"]{
    color: green;
}
option[value="red"]{
    color: red;
}
#comment-viev{
    position: absolute;
  
  width: 70px;
  height: 30px;
  background-color: #222;
}
#comment-viev>input{
    text-align: center;
    margin: 0.7px;
}
#comment-list{
    position: absolute;
    top: 14px;
    right: 0;
}
div.user-area{
    background-color: #ffffff;
}
p#features{
    position: absolute;
    top: 50px;
    right: 10px;
    left: 1140px;    
}
p#enterprise{
    position: absolute;
    right: 10px;
    left: 1210px;
    top: 50px;
}
p#support{
    position: absolute;
    top: 50px;
    right: 10px;
    left: 1290px;
}
p#pricing{
    position: absolute;
    top: 50px;
    right: 10px;
    left: 1360px;
}
.sign-up{
    position: absolute;
    top: 65px;
    right: 10px;
    left: 1430px;
}
#company-name{
    position: relative;
    top: 20px;
    right: 10px;
    left: 10px;
}
h1, pre{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
pre{
    color: rgb(128, 120, 120);
    font-size: 18px;
}
h1{
    line-height: 7px;
}
.price{
    padding: 50px;
    margin-left: 20%;
}
.price>div{
    display: table-cell;
    border: 1px solid rgba(196, 198, 202, 0.986);
    border-radius: 5px;
    display: inline-block;
    width: 23.5%;
    margin-right: 2%;
    text-align: center;
}
#free>div, #pro>div, #enterprise>div{
    font-size: 25px;
    background-color: rgb(244, 240, 247);
    padding: 10px;
}
#free>p+p+p+p+p, #pro>p+p+p+p+p, #enterprise>p+p+p+p+p{
    color: blue;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
#pro>p+p+p+p+p, #enterprise>p+p+p+p+p{
    color: white;
    background-color: blue;
}
.bottom>div{ 
    display: inline-table;
    width: 20%;
    margin-right: 1%;
    margin-top: 2%;
    padding: 10px;
}
[id^="bottom"]{
    font-weight: bold;
}
.s-logo{
    background-color: #373B41;
  color: rgba(255, 255, 255, 0.473);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
    background-color: black;
    color: white;
    cursor: -webkit-grab;
  }
  h2>b{
      color: #979797ef;
  }
  #myDIV {
    width: 25%;
    padding: 25px 0;
    text-align: center;
    background-color: rgba(141, 140, 140, 0.199);
    margin-top: 20px;
    color: #ffffff;
    margin-left: 75%;
    margin-top: 60px;
  }